<md-toolbar md-dialog-title color="primary">
  login
  <span class="flex-spacer"></span>
  <button md-button md-dialog-close>&times;</button>
</md-toolbar>
<!--to be remove-->
<p>
  {{user|json}}
</p>
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <md-dialog-content>
      <p>
          <md-input-container dividerColor="{{username.invalid && !username.pritine ? 'warn':'primary'}} " >
            <input mdInput placeholder="Username" #username="ngModel" [(ngModel)]="user.username" required type="text" name="username">
            <md-hint  >
              <span [hidden]="username.pristine">
                <span [hidden]="!username.errors?.required" >Username is requried</span>
              </span>
            </md-hint>
          </md-input-container>
          <md-input-container  dividerColor="{{password.invalid && !password.pritine ? 'warn':'primary'}} ">
            <input mdInput placeholder="Password" #password="ngModel" required type="password" [(ngModel)]="user.password" name="password">
            <md-hint>
              <span [hidden]="password.pristine">
                <span [hidden]="!password.errors?.required">Password is requried</span>
              </span>
            </md-hint>
          </md-input-container>
          <md-checkbox name="remember" [(ngModel)]="user.remember">
            Remenber Me 
          </md-checkbox>
        </p>
  </md-dialog-content>
  <md-dialog-actions>
    <span class="flex-spacer"></span>
    <button md-button md-dialog-close>Cancel</button>
    <button type="submit" md-button class="background-primary text-floral-white"
    [disabled]="loginForm.form.invalid">Login</button>
  </md-dialog-actions>

</form>